
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* shared style */
.container{
    width: 1280px;
    margin:0 auto;
    margin-bottom: 20px;
    margin-top: 49px;
   
}

.container2{
    width: 1128px;
    margin:0 auto;
    margin-bottom: 64px ;
   

}

.title{
    font-size: 36px;
    font-weight: 600;
    color: rgb(31, 31, 31);
    padding-top: 46px;
   
}

.btn-primary{
    border-radius: 6px;

    /* Linear */
   background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
   border: none;
   margin: 8px 0px;
   padding: 14px 20px;
   color: rgb(255, 255, 255);
   font-size: 16px;
   font-weight: 500;
   
   
}
.arrow{
    margin-left: 10px;
    color:rgb(255, 255, 255);
    font-size: 16px;
}


/* navber style */
nav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}

.navber_link ul{
    display: flex;
    list-style: none;
    gap: 24px;
}


.navber_link a{
    text-decoration: none;
    color: rgb(112, 112, 112);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}

/* search box */

.search_box input{
    width: 508px;
    border-radius: 66px;
    background: rgb(241, 241, 241);
    padding: 15px 30px;
    text-align: left;
    font-style: italic;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(204, 204, 204);
    text-align: left;
}

.search_box{
    position: relative;
}

.search_box i{
    position: absolute;
   font-size:25px;
    color:rgb(186, 186, 186);
    top: 16px;
    right: 15px
   
    
}

/* dropdown menu */

.dropdown{
    position: relative;
}
.dropdown i{
    color:rgb(112, 112, 112);
    font-weight: 600;
    font-size:18px;
}

.dropdown .dropdown_nav_items{
    position: absolute;
    display: block;
    background-color: #ffff;
    width: 150px;
    top: 20%;
    padding: 5px;
    margin-left: -20px;
    visibility: hidden;
    text-align: center;
    border-radius: 0 0 15px 15px;
    box-shadow: 1px 3px 12px -3px rgba(0,0,0,0.61);
    
}
.dropdown_nav_items li{
    margin: 5px;
}

.dropdown_nav_items li a{

font-size: 16px;
font-weight: 600;
}

/* hover reflect */

.dropdown:hover .dropdown_nav_items{
    top:100%;
    visibility: visible;
    transition: 0.5s;
}

.dropdown_nav_items a:hover{
  background-color: rgb(236, 215, 187);
  padding: 5px 25px;
  border-radius: 5px;
  transition: 0.5s;
}


/* banner part start */

.banner{
    display: flex;
    justify-content: space-between;
    background-color:rgba(254, 234, 233, 1) ;
    text-align: left;
    align-items: flex-start;
    /* padding: 28px; */
    gap: 5px;
    border-radius:25px ;
}


.left-side{
    width: 554px;
    margin: 68px  46px;
    

}
.left-side p{
    max-width: 456px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    color: rgb(78, 78, 78);
    line-height: 26px;
}

.left-side .price-tag{
    font-size: 41px;
    font-weight: 500;
    color: rgb(255, 19, 111);
    text-align: left;
}
.left-side h1{
    font-size: 52px;
    font-weight: 700;
    color:rgb(31, 31, 31) ;
}


.right-side img{
    width: 402px;
    height: 378px;
    margin: 38px 63px;
}




/* Category Part style */



.categories-items{
    display: flex;
    justify-content: space-between;
    gap: 26px;
}
.category-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 359px;
    border-radius:15px;
    margin-top: 24px;
}

.category-item:nth-child(1){
 background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
}

.category-item:nth-child(2){
 
   /* Linear */
background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
  
}

.category-item:nth-child(3){
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
   
}

.category-item h1{
    font-size: 36px;
    font-weight: 500;   
     margin: 33px 46px;
    color:rgb(255, 255, 255) ;
}

.category-item img{
    width: 69px;
    height: 90px;
    margin: 15px 49px;
}

/* Shoes Category style */

.shoes{
    background-color:rgb(244, 244, 244) ;
    
   
}

.see-all{
    padding-top: 46px;
    color: rgb(255, 157, 0);
    font-size: 20px;
    font-weight: 500;
}

.title-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.shoes-card-body{
    margin-top: 24px ;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
   
}

.shoes-card{
    width: 360px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    padding: 24px;
    text-align: center;
    box-shadow: 1px 3px 12px -3px rgba(0,0,0,0.46);
}

.shoes-card img{
    width: 336px;
   height: 202px;
   margin: 24px 12px;
}

.shoes-card h1{
font-size: 24px;
font-weight: 600;
margin-bottom: 16px;
}

.shoes-card p{
    font-size: 15px;
    font-weight: 400;
    
    margin-bottom: 16px;
}

.price{
   font-size: 24px;
   font-weight: 500;
   margin-bottom: 16px;
}

.black{
    background:rgb(0, 0, 0);
}
/* Responsive design */